*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}
html {
	font-size: 62.5%;
}
body{
    min-width: 500px;
}
#head{
    padding: 1rem 5%;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0rem 0rem 2.5rem #000;
    position: fixed;
    display: none;
    z-index: 999;
}
#head .head_left{
    display: flex;
    align-items: center;
}
#head .head_left .logo{
    margin-right: 1rem;
}
#head .head_left .logo img{
    width: 6rem;
    height: 6rem;
}
#head .head_left .head_left_wz{
    float: left;
}
#head .head_right{
    display: flex;
    align-items: center;
}
.head_right .head_right_zuo{
    width: 50rem;
    margin-right: 1rem;
}
.head_right_zuo ul{
    display: flex;
    justify-content: space-around;
}
.head_right_zuo ul li{
    position: relative;
}
.head_right_zuo ul li a{
    font-size: 1.8rem;
    color: #000;
}
.head_right_zuo ul li .xian{
    width: 0%;
    height: 0.3rem;
    background-color: #0082fc;
    position: absolute;
    bottom: -50%;
    left: 53%;
    transform: translate(-50%, -50%);
    transition: 0.4s;
}
/* .head_right_zuo ul .xian1 .xian{
    width: 100%;
} */
.head_right_zuo  ul li:hover .xian{
    width: 100%;
}

.head_right .head_right_you{
    padding: 0.5rem;
    border: 0.1rem solid rgb(201, 201, 201);
    border-radius: 5rem;
    transition: 0.6s;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.head_right .head_right_you:hover{
    border: 0.1rem solid #000;
}
.head_right_you a{
    font-size: 1.6rem;
    margin-right: 0.5rem;
}
.head_right_you img{
    width: 1.6em;
    height: 1.6em;
}
#nav{
    padding: 15rem 0;
    width: 20%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-flow: column;
    justify-content: space-between;
    float: left;
    position: fixed; 
}
#nav h1{
    font-size: 3.8rem;
    font-weight: normal;
    margin-bottom: 2rem;
}
#nav ul{
    height: 40rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: column;
}
#nav ul li{
    position: relative;
}
#nav ul li a{
    font-size: 1.8rem;
    color: #000;
}
#nav ul li .xian{
    width: 0%;
    height: 0.3rem;
    background-color: #0082fc;
    position: absolute;
    bottom: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.4s;
}
#nav ul .xian1 .xian{
    width: 100%;
}
#nav ul li:hover .xian{
    width: 100%;
}
#nav .nav_qh{
    padding: 0.9rem 0.9rem;
    border: 0.1rem solid rgb(201, 201, 201);
    border-radius: 5rem;
    transition: 0.6s;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
}
#nav .nav_qh:hover{
    border: 0.1rem solid #000;
}
.nav_qh a{
    font-size: 1.6rem;
    margin-right: 2rem;
    font-weight: 600;
}
.nav_qh img{
    width: 1.6em;
    height: 1.6em;
}
#theme{
    width: 80%;
    float: right;
    position: relative;
}
#theme .banner{
    width: 100%;
    height: 100vh;
    position: relative;
}
.banner ul li img{
    width: 100%;
    height: 100%;
    position: absolute;
}
.num{
    width: 20rem;
    position: absolute;
    display: flex;
    justify-content: space-between;
    transform: translate(-50%, -50%);
    bottom: 0;
    left: 50%;
}
.num li{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: #fff;
}
.num  .current{
    background-color: #0082fc;
}
.theme_wz{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    display: flex;
    align-items: center;
    flex-flow: column;
}
.theme_wz h1{
    font-size: 9rem;
    color: rgb(255, 255, 255);
}
.theme_wz p{
    font-size: 2.2rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
}
.theme_wz span{
    width: 33.5rem;
    height: 8rem;
    background-color: #0082fc;
}
.theme_wz span h2{
    font-size: 6rem;
    float: right;
    margin-trim: 2rem;color: #fff;
    text-shadow: -0.1rem 0.3rem 0.1rem #000;
}
.theme_wz h3{
    font-size: 6rem;
    color: rgb(255, 255, 255);
}
.theme_wz h4{
    width: 58rem;
    font-size: 2.5rem;
    color: rgb(255, 255, 255);
}
#theme .skill{
    width: 100%;
    height: 100vh;
    /* background: url(https://s2.loli.net/2022/08/23/E7UbFtNn2OxeATq.jpg) center fixed; */
	background: url(../images/8.jpg) center fixed;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: column;
}
.skill .skill_zj{
    height: 20rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: column;
}
.skill_zj h4{
    font-weight: normal;
    font-size: 3.5rem;
    color: rgb(255, 255, 255);
}
.skill_zj .skill_zj_1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.skill_zj_1 span{
    width: 15rem;
    height: 0.2rem;
    background-color: #fff;
}
.skill_zj_1 img{
    width: 3rem;
    height: 3rem;
    margin: 3rem;
}
.skill_zj p{
    font-size: 1.6rem;
    color: rgb(255, 255, 255);
}
.skill ul.skill_jl{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.skill_jl_1 .skill_jl_quan{
    width: 20rem;
    height: 20rem;
    border: 0.6rem solid rgb(255, 255, 255);
    border-radius: 50%;
    position: relative;
}
.skill_jl_quan .skill_jl_zq{
    width: 20rem;
    height: 20rem;
    border: 0.6rem solid #0082fc;
    border-left: 0.6rem solid transparent;
    border-bottom: 0.6rem solid transparent;
    border-radius: 50%;
    position: absolute;
    top: -0.6rem;
    left: -0.6rem;
    animation: rotation 2s linear infinite;
}
@keyframes rotation {
	from {
		-webkit-transform: rotate(0deg);
	}

	to {
		-webkit-transform: rotate(360deg);
	}
}
.skill_jl_quan span{
    font-size: 2.8rem;
    color: #FFFFFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.skill_jl_1 p{
    text-align: center;
    font-size: 2.5rem;
    margin-top: 2rem;
    color: rgb(255, 255, 255);
}

#theme .works{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    padding: 10rem;
    gap: 6rem;
    background-color: rgb(241, 241, 241);
}
.works dl{
    flex: 1 1 30%;
    height: 34rem;
    background-color: #fff;
    box-shadow: 0.2rem 0.2rem 0.5rem #000;
}
.works dl dt{
    overflow: hidden;
}
.works dl dt img{
    width: 100%;
    height: 20rem;
    transition: 0.3s;
}
.works dl dt img:hover{
    transform: scale(1.1);
}
.works dl dd h1{
    font-weight: normal;
    margin-bottom: 0.5rem;
    transition: 0.3s;
    cursor: pointer;
}
.works dl dd h1:hover{
    color: #0082fc;
}
.works dl dd p{
    color: rgb(218, 218, 218);
    font-size: 1.6rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
}
.works dl dd a{
    font-size: 1.8rem;
    margin-left: 1rem;
    color: #0082fc;
}
#theme .about{
    width: 100%;
    height: 100vh;
    /* background: url(https://s2.loli.net/2022/08/23/CWfyimDLV8OTrq3.jpg) center fixed; */
	background: url(../images/9.jpg) center fixed;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: column;
}
.about .about_zj{
    height: 20rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: column;
}
.about_zj h4{
    font-weight: normal;
    font-size: 3.5rem;
    color: rgb(255, 255, 255);
}
.about_zj .about_zj_1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about_zj_1 span{
    width: 15rem;
    height: 0.2rem;
    background-color: #fff;
}
.about_zj_1 img{
    width: 3rem;
    height: 3rem;
    margin: 3rem;
}
.about_zj p{
    width: 70%;
    font-size: 1.6rem;
    text-align: center;
    color: rgb(255, 255, 255);
}
#theme .bottom{
    width: 100%;
    height: 100vh;
}
.bottom .bottom_lfte{
    width: 50%;
    height: 100vh;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    background-color: rgb(241, 241, 241);
}

.bottom_lfte .bottom_zj{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: column;
}
.bottom_zj h4{
    font-weight: normal;
    font-size: 3.5rem;
    color: rgb(255, 255, 255);
}
.bottom_zj .bottom_zj_1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bottom_zj_1 span{
    width: 15rem;
    height: 0.2rem;
    background-color: #d8d8d8;
}
.bottom_zj_1 img{
    width: 3rem;
    height: 3rem;
    margin: 3rem;
}
.bottom_lfte .bottom_lfte_1{
    width: 80%;
    height: 37rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: column;
}
.bottom_lfte_1 .sr{
    width: 100%;
    height: 4.5rem;
    border: 0.1rem solid #CCC;
    border-radius: 0.8rem;
    background-color: #fcfcfc;
    overflow: hidden;
    transition: 0.3s;
}
.bottom_lfte_1 .sr:hover{
    box-shadow: 0.2rem 0.2rem 0.5rem #000;
}
.sr input{
    outline: none;
    width: 97%;
    height: 100%;
    border: none;
    margin-left: 0.8rem;
}
.bottom_lfte_1 .sr:nth-child(3){
    height: 10rem;
    overflow: hidden;
}
.bottom_lfte_1 .sr:nth-child(3) textarea{
    min-width: 102%;
    padding: 0.8rem;
    height: 10rem;
    box-sizing: border-box;
    outline: medium;
    border: none;
}
.bottom_lfte_1 .fs{
    width: 10rem;
    height: 3.8rem;
    background: #333333;
    border-radius: 0.8rem;
    color: #FFFFFF;
    font-size: 0.4rem;
    cursor: pointer;
    transition: 0.3s;
    border: none;
}
.bottom_lfte_1 .fs:hover{
    background-color: #0082fc;
}
.bottom .bottom_right{
    width: 50%;
    height: 100vh;
    /* background: url(https://s2.loli.net/2022/08/23/UGtQ7lCjhSTcV1H.jpg) center fixed; */
	background: url(../images/pexels-sara-63340.jpg) center fixed;
    background-size: cover;
    background-attachment: fixed;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    position: relative;
}
.bottom_right .bottom_zj{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: column;
}
.bottom_zj h4{
    font-weight: normal;
    font-size: 3.5rem;
    color: rgb(255, 255, 255);
}
.bottom_right .bottom_zj .bottom_zj_1 span{
    background-color: #fff;
}
.bottom_zj p{
    font-size: 1.6rem;
    text-align: center;
    color: rgb(255, 255, 255);
}
.bottom_right .bottom_right_tb{
    width: 40%;
    padding: 8rem 0 15rem 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.bottom_right_tb .qq{
    padding: 1rem;
    border: 0.1rem solid #fff;
    border-radius: 0.8rem;
    transition: 0.3s;
}
.bottom_right_tb .qq:hover{
    background-color: #0082fc;
    border: 0.1rem solid #0082fc;;
}
.qq img{
    width: 4rem;
    height: 4rem;
}
.bottom_right_tb .wx{
    padding: 1rem;
    border: 0.1rem solid #fff;
    border-radius: 0.8rem;
    transition: 0.3s;
}
.bottom_right_tb .wx:hover{
    background-color: #0082fc;
    border: 0.1rem solid #0082fc;;
}
.wx img{
    width: 4rem;
    height: 4rem;
}
.bottom_right_tb .hm{
    padding: 1rem;
    border: 0.1rem solid #fff;
    border-radius: 0.8rem;
    transition: 0.3s;
}
.bottom_right_tb .hm:hover{
    background-color: #0082fc;
    border: 0.1rem solid #0082fc;;
}
.hm img{
    width: 4rem;
    height: 4rem;
}
.bottom_right .fh{
    position: fixed;
    width: 7rem;
    height: 7rem;
    bottom: 10%;
    right: -10%;
    background-color: #d8d8d8;
    border-radius: 0.8rem;
    transition: 0.3s;
}
.bottom_right .fh:hover{
    background-color: #0082fc;
}
.fh img{
    width: 7rem;
    height: 7rem;
}
@media (max-width:1750px) {
	html {
		font-size: 60%;
	}
    #theme .works{
        height: 100%;
    }
}
@media (max-width:1000px) {
	html {
		font-size: 50%;
	}
    #nav{
        padding: 2rem 0;
    }
}
@media (max-width:800px) {
	html {
		font-size: 40%;
	}
    .works dl dt img{
        height: 15rem;
    }
    #theme .works{
        padding: 7rem;
    }
    .bottom .bottom_lfte{
        width: 100%;
        height: 50vh;
    }
    .bottom .bottom_right{
        width: 100%;
        height: 50vh;
    }
}
@media (max-width:600px) {
	html {
		font-size: 30%;
	}
    .works dl dt img{
        height: 14rem;
    }
    #theme .works{
        padding: 6rem;
    }
}
@media (max-width:500px) {
	#nav{
        display: none;
    }
    #head{
        display: flex;
    }
    #theme{
        width: 100%;
    }
    #theme .banner{
        height: 50vh;
    }
    #theme .skill{
        height: 50vh;
    }
    #theme .works{
        padding: 5rem;
    }
   .works dl{
        height: 55rem;
        flex: 1 1 100%;
    }.works dl dt img{
        height: 35rem;
    }
    #theme .about{
        height: 50vh;
    }
}